* {
  margin: 0;
  padding: 0; }

.seven-years-header {
  width: 100%;
  display: block;
  margin: auto;
  position: relative;
  height: 100%;
  background-image: url(../images/seven.png);
  background-repeat: no-repeat;
  background-size: 46%;
  background-position-x: 169px;
  background-position-y: bottom; }
  .seven-years-header__with-content {
    width: 100%;
    background: linear-gradient(to right, #e9e1e9 0%, #cfd5f6 100%); }
    .seven-years-header__with-content_content {
      width: 1000px;
      margin: auto;
      position: relative;
      height: 100%;
      background-image: url(../images/seven.png);
      background-repeat: no-repeat;
      background-size: 46%;
      display: block;
      background-position-x: 169px;
      background-position-y: bottom; }
      .seven-years-header__with-content_content:before {
        content: "";
        width: 500px;
        display: block;
        height: 187px;
        position: absolute;
        right: 130px;
        top: -32px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #b6b6e4 100%);
        transform: rotate(297deg); }
      .seven-years-header__with-content_content:after {
        content: "";
        width: 200px;
        display: block;
        height: 241px;
        position: absolute;
        right: 102px;
        top: 298px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #b6b6e4 100%);
        overflow: hidden;
        transform: skewY(-40deg) rotate(130deg); }
      .seven-years-header__with-content_content .robot {
        display: block;
        height: 510px;
        width: 445px;
        position: absolute;
        background-image: url(../images/robot.png);
        background-size: cover;
        background-repeat: no-repeat;
        left: 300px;
        top: 100px;
        z-index: 10;
        animation: 4s linear infinite;
        animation-name: move-robot; }

@keyframes move-robot {
  0% {
    top: 100px; }
  50% {
    top: 80px; }
  100% {
    top: 100px; } }
      .seven-years-header__with-content_content .cake {
        display: block;
        height: 278px;
        width: 445px;
        position: absolute;
        background-image: url(../images/cake.png);
        background-size: cover;
        background-repeat: no-repeat;
        left: 328px;
        top: 417px;
        z-index: 11; }
      .seven-years-header__with-content_content .text {
        width: 400px;
        display: inline;
        float: right; }
        .seven-years-header__with-content_content .text__style {
          font-family: Roboto, sans-serif;
          font-weight: 200;
          color: #fff;
          top: 111px;
          position: absolute;
          z-index: 12; }
        .seven-years-header__with-content_content .text__mk {
          font-size: 30px;
          top: 150px; }
        .seven-years-header__with-content_content .text__turns {
          font-size: 50px;
          top: 193px;
          right: 216px; }
        .seven-years-header__with-content_content .text__seven {
          font-size: 150px;
          top: 135px;
          right: 153px; }
        .seven-years-header__with-content_content .text__lets {
          font-size: 50px;
          top: 306px;
          right: 112px; }
        .seven-years-header__with-content_content .text__best {
          font-size: 50px;
          top: 364px;
          right: 16px; }
      .seven-years-header__with-content_content .pattern {
        width: 1000px;
        height: 550px;
        background-image: url(../images/seven-years-pattern.png);
        background-repeat: no-repeat;
        background-size: 100%; }
        .seven-years-header__with-content_content .pattern .circle-orange {
          width: 5px;
          height: 5px;
          border: 2px solid #ff9500;
          border-radius: 5px;
          display: block;
          position: absolute;
          animation: 20s rot infinite linear; }

@keyframes rot {
  from {
    transform: rotate(0deg) translate(-30px) rotate(0deg); }
  to {
    transform: rotate(360deg) translate(-30px) rotate(-360deg); } }
        .seven-years-header__with-content_content .pattern .circle-gray {
          width: 7px;
          height: 7px;
          background-color: #00caf6;
          border-radius: 7px;
          display: block;
          position: absolute;
          animation: 35s rot infinite linear; }

@keyframes rot {
  from {
    transform: rotate(0deg) translate(-100px) rotate(0deg); }
  to {
    transform: rotate(360deg) translate(-100px) rotate(-360deg); } }
        .seven-years-header__with-content_content .pattern .triangle-white {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 10px 17px 10px;
          border-color: transparent transparent #f6f6f6 transparent;
          position: absolute;
          animation: 10s spin infinite linear; }

@keyframes spin {
  0% {
    transform: rotate(0deg);
    margin-left: 0; }
  50% {
    margin-left: 50px; }
  100% {
    transform: rotate(360deg);
    margin-left: 0; } }
        .seven-years-header__with-content_content .pattern .square-white {
          width: 7px;
          height: 7px;
          background-color: transparent;
          border: 3px solid #fff;
          display: block;
          position: absolute;
          animation: 35s spin infinite linear; }
  .seven-years-header__mirror {
    height: 200px;
    width: 1000px;
    margin: auto;
    background-image: url(../images/mirror.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 36px; }

.seven-years-main-content {
  width: 100%;
  display: block; }
  .seven-years-main-content__number-of-users {
    width: 100%;
    display: block;
    margin: 100px 0 100px 0; }
    .seven-years-main-content__number-of-users_descr {
      width: 1000px;
      display: block;
      margin: auto; }
      .seven-years-main-content__number-of-users_descr .number-of-users-icon {
        width: 350px;
        height: 300px;
        display: inline-block;
        background-image: url(../images/users.png);
        background-repeat: no-repeat;
        background-size: 84%;
        background-position: top; }
      .seven-years-main-content__number-of-users_descr .seven-years-section-number {
        width: 100px;
        display: inline-block;
        vertical-align: top;
        color: #d7deea;
        font-size: 40px;
        font-family: Roboto, sans-serif;
        font-weight: 300; }
      .seven-years-main-content__number-of-users_descr .number-of-users-text {
        width: 400px;
        height: 300px;
        display: inline-block;
        vertical-align: top;
        color: #636a7f;
        font-size: 40px;
        font-family: Roboto, sans-serif;
        font-weight: 500;
        line-height: 55px; }
      .seven-years-main-content__number-of-users_descr .js-year-selected {
        color: #01a1ff; }
    .seven-years-main-content__number-of-users .seven-years-main-content__number-of-users_counter-2010, .seven-years-main-content__number-of-users .seven-years-main-content__number-of-users_counter-2017 {
      width: 1000px;
      display: block;
      margin: auto;
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 167px;
      font-weight: 200;
      color: #636a7f;
      /*      @-webkit-keyframes slidy {
        0% { top: 0; }
        100% { top: -1000%; }
      }*/ }
      .seven-years-main-content__number-of-users .seven-years-main-content__number-of-users_counter-2010 .counter-static-part, .seven-years-main-content__number-of-users .seven-years-main-content__number-of-users_counter-2017 .counter-static-part {
        margin-right: -30px; }
      .seven-years-main-content__number-of-users .seven-years-main-content__number-of-users_counter-2010 .counter-dinamic-part, .seven-years-main-content__number-of-users .seven-years-main-content__number-of-users_counter-2017 .counter-dinamic-part {
        height: 175px;
        width: 89px;
        overflow: hidden;
        position: relative;
        margin: 0;
        display: inline-block;
        vertical-align: top;
        margin-right: -25px; }
        .seven-years-main-content__number-of-users .seven-years-main-content__number-of-users_counter-2010 .counter-dinamic-part__figure-one, .seven-years-main-content__number-of-users .seven-years-main-content__number-of-users_counter-2017 .counter-dinamic-part__figure-one {
          animation: 1s slidy;
          -webkit-animation: 1s slidy;
          -moz-animation: 1s slidy;
          -o-animation: 1s slidy; }
          .seven-years-main-content__number-of-users .seven-years-main-content__number-of-users_counter-2010 .counter-dinamic-part__figure-one_figure, .seven-years-main-content__number-of-users .seven-years-main-content__number-of-users_counter-2017 .counter-dinamic-part__figure-one_figure {
            height: 100px;
            position: relative;
            margin: 0;
            text-align: center; }
        .seven-years-main-content__number-of-users .seven-years-main-content__number-of-users_counter-2010 .counter-dinamic-part__figure-two, .seven-years-main-content__number-of-users .seven-years-main-content__number-of-users_counter-2017 .counter-dinamic-part__figure-two {
          animation: 2s slidy;
          -webkit-animation: 2s slidy;
          -moz-animation: 2s slidy;
          -o-animation: 2s slidy; }
          .seven-years-main-content__number-of-users .seven-years-main-content__number-of-users_counter-2010 .counter-dinamic-part__figure-two_figure, .seven-years-main-content__number-of-users .seven-years-main-content__number-of-users_counter-2017 .counter-dinamic-part__figure-two_figure {
            height: 100px;
            position: relative;
            margin: 0;
            text-align: center; }
        .seven-years-main-content__number-of-users .seven-years-main-content__number-of-users_counter-2010 .counter-dinamic-part__figure-three, .seven-years-main-content__number-of-users .seven-years-main-content__number-of-users_counter-2017 .counter-dinamic-part__figure-three {
          animation: 3s slidy;
          -webkit-animation: 3s slidy;
          -moz-animation: 3s slidy;
          -o-animation: 3s slidy; }
          .seven-years-main-content__number-of-users .seven-years-main-content__number-of-users_counter-2010 .counter-dinamic-part__figure-three_figure, .seven-years-main-content__number-of-users .seven-years-main-content__number-of-users_counter-2017 .counter-dinamic-part__figure-three_figure {
            height: 100px;
            position: relative;
            margin: 0;
            text-align: center; }

@keyframes slidy {
  0% {
    top: 0; }
  100% {
    transform: translateY(-86%); } }
  .seven-years-main-content__features {
    width: 100%;
    display: block;
    background-color: #f5f7fa; }
    .seven-years-main-content__features_wrapper {
      width: 1000px;
      display: block;
      margin: auto;
      padding: 100px 0 100px 0; }
      .seven-years-main-content__features_wrapper .seven-years-featre-descr {
        width: 450px;
        display: inline-block;
        vertical-align: top; }
        .seven-years-main-content__features_wrapper .seven-years-featre-descr__title {
          font-family: Roboto, sans-serif;
          font-weight: 200;
          color: #636a7f;
          font-size: 50px; }
        .seven-years-main-content__features_wrapper .seven-years-featre-descr__text {
          font-family: Roboto, sans-serif;
          font-weight: 200;
          color: #636a7f;
          font-size: 20px;
          margin: 100px 0 0 40px;
          display: block;
          width: 389px;
          padding: 0 0 0 20px;
          border-left: 1px solid #d7deea; }
        .seven-years-main-content__features_wrapper .seven-years-featre-descr__expand-button {
          font-family: Roboto, sans-serif;
          font-weight: 400;
          color: #01a1ff;
          font-size: 15px;
          margin: 100px 0 0 0; }
          .seven-years-main-content__features_wrapper .seven-years-featre-descr__expand-button_cross {
            width: 30px;
            height: 30px;
            display: inline-block;
            vertical-align: middle;
            border-radius: 30px;
            background-color: #01a1ff;
            transition: .6s ease-out; }
            .seven-years-main-content__features_wrapper .seven-years-featre-descr__expand-button_cross:before {
              content: "";
              width: 2px;
              height: 15px;
              display: block;
              background: #fff;
              margin: 7px 14px; }
            .seven-years-main-content__features_wrapper .seven-years-featre-descr__expand-button_cross:after {
              content: "";
              width: 2px;
              height: 15px;
              display: block;
              background: #fff;
              margin: -22px 14px;
              transform: rotate(90deg);
              transition: 2s; }
          .seven-years-main-content__features_wrapper .seven-years-featre-descr__expand-button_name {
            margin-left: 20px;
            transition: .6s ease-out; }
      .seven-years-main-content__features_wrapper .seven-years-feature-icons {
        width: 420px;
        display: inline-block;
        vertical-align: top; }
        .seven-years-main-content__features_wrapper .seven-years-feature-icons .seven-years-feature-icon-gen-styles {
          background-repeat: no-repeat;
          background-size: 84%;
          width: 100px;
          height: 100px;
          display: block;
          margin: 35px 0 0 40px;
          background-position: 8px 5px;
          top: 40px; }
        .seven-years-main-content__features_wrapper .seven-years-feature-icons__content {
          width: 180px;
          height: 180px;
          display: inline-block;
          vertical-align: top;
          text-align: center;
          font-family: Roboto, sans-serif;
          font-size: 15px;
          font-weight: 200;
          color: #3d424d; }
          .seven-years-main-content__features_wrapper .seven-years-feature-icons__content_text {
            margin: 15px 0 0 0; }
        .seven-years-main-content__features_wrapper .seven-years-feature-icons__no-sleep-mode:after {
          content: "";
          width: 1px;
          height: 135px;
          background-color: #d7deea;
          display: block;
          position: absolute;
          margin-left: 179px;
          margin-top: 43px; }
        .seven-years-main-content__features_wrapper .seven-years-feature-icons__no-sleep-mode:before {
          content: "";
          width: 1px;
          height: 135px;
          background-color: #d7deea;
          display: block;
          position: absolute;
          margin-left: 179px;
          margin-top: 30px; }
        .seven-years-main-content__features_wrapper .seven-years-feature-icons__no-sleep-mode_icon {
          background-image: url(../images/seven-years-no-sleep.png); }
        .seven-years-main-content__features_wrapper .seven-years-feature-icons__memory-cleaner:after {
          content: "";
          width: 1px;
          height: 135px;
          background-color: #d7deea;
          display: block;
          position: absolute;
          margin-left: 88px;
          margin-top: -48px;
          transform: rotate(90deg); }
        .seven-years-main-content__features_wrapper .seven-years-feature-icons__memory-cleaner:before {
          content: "";
          width: 1px;
          height: 135px;
          background-color: #d7deea;
          display: block;
          position: absolute;
          margin-left: -95px;
          margin-top: 120px;
          transform: rotate(90deg); }
        .seven-years-main-content__features_wrapper .seven-years-feature-icons__memory-cleaner_icon {
          background-image: url(../images/seven-years-memory-cleaner.png); }
        .seven-years-main-content__features_wrapper .seven-years-feature-icons__track-my-mac_icon {
          background-image: url(../images/seven-years-tmm.png); }
        .seven-years-main-content__features_wrapper .seven-years-feature-icons__antivirus-scan_icon {
          background-image: url(../images/seven-years-scan.png); }
    .seven-years-main-content__features_expander {
      width: 1000px;
      display: block;
      margin: 0 auto;
      height: 0;
      overflow: hidden;
      transition: .6s ease-out; }
      .seven-years-main-content__features_expander .seven-years-expander-feature-block {
        display: block;
        margin: auto;
        width: 700px; }
        .seven-years-main-content__features_expander .seven-years-expander-feature-block__icon {
          width: 100px;
          height: 100px;
          display: inline-block;
          background-size: 95%;
          background-repeat: no-repeat;
          vertical-align: top; }
        .seven-years-main-content__features_expander .seven-years-expander-feature-block__text {
          display: inline-block;
          vertical-align: top;
          width: 550px;
          font-size: 20px;
          line-height: 25px;
          font-family: Roboto, sans-serif;
          margin: 10px 0 0 45px; }
          .seven-years-main-content__features_expander .seven-years-expander-feature-block__text_feature-name {
            display: block;
            font-weight: 400; }
          .seven-years-main-content__features_expander .seven-years-expander-feature-block__text_feature-descr {
            display: block;
            font-weight: 200; }
        .seven-years-main-content__features_expander .seven-years-expander-feature-block .seven-years-expander-no-sleep-icon {
          background-image: url(../images/seven-years-expander-no-sleep.png); }
        .seven-years-main-content__features_expander .seven-years-expander-feature-block .seven-years-expander-memory-keeper-icon {
          background-image: url(../images/seven-years-expander-memory-keeper.png); }
        .seven-years-main-content__features_expander .seven-years-expander-feature-block .seven-years-expander-tmm-icon {
          background-image: url(../images/seven-years-expander-tmm.png); }
        .seven-years-main-content__features_expander .seven-years-expander-feature-block .seven-years-expander-scan-icon {
          background-image: url(../images/seven-years-expander-scan.png); }
    .seven-years-main-content__features .activate-features-expander {
      height: 300px; }
    .seven-years-main-content__features .js-seven-years-rotate-cross {
      transform: rotate(45deg);
      background-color: #636a7f;
      transition: .6s ease-out; }
    .seven-years-main-content__features .js-seven-years-change-color-name {
      color: #636a7f;
      transition: .6s ease-out; }

.seven-years-section-number {
  width: 100px;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  color: #d7deea;
  font-size: 40px;
  font-family: Roboto, sans-serif;
  font-weight: 300; }
