
* {
  margin: 0;
  padding: 0;
}

.seven-years-header {
  width: 100%;
  display: block;
  margin: auto;
  position: relative;
  height: 100%;
  background-image: url(../images/seven.png);
  background-repeat: no-repeat;
  background-size: 46%;
  background-position-x: 169px;
  background-position-y: bottom;

  &__with-content {
    width: 100%;
    background: linear-gradient(to right, rgba(233, 225, 233, 1) 0%, rgba(207, 213, 246, 1) 100%);

    &_content {
      width: 1000px;
      margin: auto;
      position: relative;
      height: 100%;
      background-image: url(../images/seven.png);
      background-repeat: no-repeat;
      background-size: 46%;
      display: block;
      background-position-x: 169px;
      background-position-y: bottom;

      &:before {
        content: "";
        width: 500px;
        display: block;
        height: 187px;
        position: absolute;
        right: 130px;
        top: -32px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #b6b6e4 100%);
        transform: rotate(297deg);
      }

      &:after {
        content: "";
        width: 200px;
        display: block;
        height: 241px;
        position: absolute;
        right: 102px;
        top: 298px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #b6b6e4 100%);
        overflow: hidden;
        transform: skewY(-40deg) rotate(130deg);
      }

      .robot {
        display: block;
        height: 510px;
        width: 445px;
        position: absolute;
        background-image: url(../images/robot.png);
        background-size: cover;
        background-repeat: no-repeat;
        left: 300px;
        top: 100px;
        z-index: 10;
        animation: 4s linear infinite;
        animation-name: move-robot;
      }

      @keyframes move-robot {
        0% {
          top: 100px;
        }
        50% {
          top: 80px;
        }
        100% {
          top: 100px;
        }
      }

      .cake {
        display: block;
        height: 278px;
        width: 445px;
        position: absolute;
        background-image: url(../images/cake.png);
        background-size: cover;
        background-repeat: no-repeat;
        left: 328px;
        top: 417px;
        z-index: 11;
      }

      .text {
        width: 400px;
        display: inline;
        float: right;

        &__style {
          font-family: Roboto, sans-serif;
          font-weight: 200;
          color: #fff;
          top: 111px;
          position: absolute;
          z-index: 12;
        }

        &__mk {
          font-size: 30px;
          top: 150px;
        }

        &__turns {
          font-size: 50px;
          top: 193px;
          right: 216px;
        }

        &__seven {
          font-size: 150px;
          top: 135px;
          right: 153px;
        }

        &__lets {
          font-size: 50px;
          top: 306px;
          right: 112px;
        }

        &__best {
          font-size: 50px;
          top: 364px;
          right: 16px;
        }
      }

      .pattern {
        width: 1000px;
        height: 550px;
        background-image: url(../images/seven-years-pattern.png);
        background-repeat: no-repeat;
        background-size: 100%;

        .circle-orange{
          width: 5px;
          height: 5px;
          border: 2px solid #ff9500;
          border-radius: 5px;
          display: block;
          position: absolute;
          animation: 20s rot infinite linear;
        }

        @keyframes rot {
          from {
            transform: rotate(0deg)
            translate(-30px)
            rotate(0deg);
          }
          to {
            transform: rotate(360deg)
            translate(-30px)
            rotate(-360deg);
          }
        }

        .circle-gray{
          width: 7px;
          height: 7px;
          background-color: #00caf6;
          border-radius: 7px;
          display: block;
          position: absolute;
          animation: 35s rot infinite linear;
        }

        @keyframes rot {
          from {
            transform: rotate(0deg)
            translate(-100px)
            rotate(0deg);
          }
          to {
            transform: rotate(360deg)
            translate(-100px)
            rotate(-360deg);
          }
        }

        .triangle-white {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 10px 17px 10px;
          border-color: transparent transparent #f6f6f6 transparent;
          position: absolute;
          animation: 10s spin infinite linear;
        }

        @keyframes spin {
          0% {
            transform: rotate(0deg);
            margin-left: 0;
          }

          50%{
            margin-left: 50px;
          }

          100% {
              transform: rotate(360deg);
              margin-left: 0;
            }
        }

        .square-white{
          width: 7px;
          height: 7px;
          background-color: transparent;
          border: 3px solid #fff;
          display: block;
          position: absolute;
          animation: 35s spin infinite linear;
        }
      }
    }

  }

  &__mirror{
    height: 200px;
    width: 1000px;
    margin: auto;
    background-image: url(../images/mirror.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 36px;
  }
}

.seven-years-main-content{
  width: 100%;
  display: block;

  &__number-of-users{

    &_descr{

      .number-of-users-icon{
        background-image: url(../images/users.png);
        background-size: 84%;
        background-position: top;
      }

      .number-of-users-text{

        &__2010{
          cursor: pointer;
        }

        &__2017{
          cursor: pointer;
        }
      }

      .js-year-selected{
        color: #01a1ff;

      }


    }

    .seven-years-main-content__number-of-users_counter-2010, .seven-years-main-content__number-of-users_counter-2017{
      width: 1000px;
      display: block;
      margin: auto;
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 167px;
      font-weight: 200;
      color: #636a7f;

      .counter-static-part{
        margin-right: -30px;
      }

      .counter-dinamic-part{
        height: 200px;
        width: 89px;
        overflow: hidden;
        position: relative;
        margin: 0;
        display: inline-block;
        vertical-align: top;
        margin-right: -25px;

        @keyframes animateFigure {
          0% { top: 0; }
          100% { transform: translateY(-85.5%); }
        }

        @-webkit-keyframes animateFigure {
          0% { top: 0; }
          100% { transform: translateY(-85.5%); }
        }

        &__figure-third{
          animation: 3s animateFigure;
          -webkit-animation: 1.6s animateFigure;
          -moz-animation: 1.6s animateFigure;
          -o-animation: 1.6s animateFigure;

          &_figure{
            height: 100px;
            position: relative;
            margin: 0;
            text-align: center;
          }
        }


        &__figure-one{
          animation: 1s animateFigure;
          -webkit-animation: .8s animateFigure;
          -moz-animation: .8s animateFigure;
          -o-animation: .8s animateFigure;

          &_figure{
            height: 100px;
            position: relative;
            margin: 0;
            text-align: center;
          }
        }

        &__figure-two {
          animation: 2s animateFigure;
          -webkit-animation: 1.2s animateFigure;
          -moz-animation: 1.2s animateFigure;
          -o-animation: 1.2s animateFigure;

          &_figure {
            height: 100px;
            position: relative;
            margin: 0;
            text-align: center;
          }

        }
      }
    }
  }

  &__media-mentions{
    &_logo{
      background-image: url(../images/seven-years-mentions-logo.png);
      width: 1000px;
      display: block;
      margin: auto;
      height: 550px;
      background-position: center;
    }
  }

  &__sections-two-three-ten{
    width: 100%;
    display: block;
    margin: 100px 0 100px 0;

    &_descr {
      width: 1000px;
      display: block;
      margin: auto;

      .sections-two-three-ten-image {
        width: 350px;
        height: 300px;
        display: inline-block;
        background-repeat: no-repeat;

        .seven-years-media-mentions-number{
          font-family: Roboto, sans-serif;
          font-size: 80px;
          font-weight: 700;
          position: absolute;
          float: right;
          margin: 137px 0 0 115px;
          color: #636a7f;
        }
      }
    }
  }

  .sections-two-three-ten-text {
    width: 530px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    color: #636a7f;
    font-size: 40px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 55px;
  }

  .sections-two-three-ten-section-number {
    width: 100px;
    display: inline-block;
    vertical-align: top;
    color: #d7deea;
    font-size: 50px;
    font-family: Roboto, sans-serif;
    font-weight: 200;
  }

  &__expand-section-features{
    background-color: #f5f7fa;
  }

  &__expand-section{
    width: 100%;
    display: block;

    &_wrapper{
      width: 1000px;
      display: block;
      margin: auto;
      padding: 100px 0 100px 0;

      .seven-years-expand-section-icon{
        background-image: url(../images/seven-years-design-image.png);
        display: inline-block;
        height: 400px;
        background-repeat: no-repeat;
        background-size: 100%;
      }

      .seven-years-expand-section-descr{
        width: 450px;
        display: inline-block;
        vertical-align: top;

        &__title{
          font-family: Roboto, sans-serif;
          font-weight: 200;
          color: #636a7f;
          font-size: 50px;
        }

        &__text{
          font-family: Roboto, sans-serif;
          font-weight: 200;
          color: #636a7f;
          font-size: 20px;
          margin: 100px 0 0 40px;
          display: block;
          width: 389px;
          padding: 0 0 0 20px;
          border-left: 1px solid #d7deea;
        }

        &__expand-button{
          font-family: Roboto, sans-serif;
          font-weight: 400;
          color: #01a1ff;
          font-size: 15px;
          margin: 100px 0 0 0;
          cursor: pointer;

          &_cross{
            width: 30px;
            height: 30px;
            display: inline-block;
            vertical-align: middle;
            border-radius: 30px;
            background-color: #01a1ff;
            transition: .6s ease-out;

            &:before{
              content: "";
              width: 2px;
              height: 15px;
              display: block;
              background: #fff;
              margin: 7px 14px;
            }

            &:after{
              content: "";
              width: 2px;
              height: 15px;
              display: block;
              background: #fff;
              margin: -22px 14px;
              transform: rotate(90deg);
              transition: 2s;
            }
          }

          &_name{
            margin-left: 20px;
            transition: .6s ease-out;
          }
        }
      }

      .seven-years-feature-icons{
        width: 420px;
        display: inline-block;
        vertical-align: top;

        .seven-years-feature-icon-gen-styles{
          background-repeat: no-repeat;
          background-size: 84%;
          width: 100px;
          height: 100px;
          display: block;
          margin: 35px 0 0 40px;
          background-position: 8px 5px;
          top: 40px;
        }

        &__content{
          width: 180px;
          height: 180px;
          display: inline-block;
          vertical-align: top;
          text-align: center;
          font-family: Roboto, sans-serif;
          font-size: 15px;
          font-weight: 200;
          color: #3d424d;

          &_text{
            margin: 15px 0 0 0;
          }
        }

        &__no-sleep-mode{

          &:after{
            content: "";
            width: 1px;
            height: 135px;
            background-color: #d7deea;
            display: block;
            position: absolute;
            margin-left: 179px;
            margin-top: 43px;
          }

          &:before{
            content: "";
            width: 1px;
            height: 135px;
            background-color: #d7deea;
            display: block;
            position: absolute;
            margin-left: 179px;
            margin-top: 30px;
          }

          &_icon{
            background-image: url(../images/seven-years-no-sleep.png);
          }
        }

        &__memory-cleaner{


          &:after{
            content: "";
            width: 1px;
            height: 135px;
            background-color: #d7deea;
            display: block;
            position: absolute;
            margin-left: 88px;
            margin-top: -48px;
            transform: rotate(90deg);
          }

          &:before{
            content: "";
            width: 1px;
            height: 135px;
            background-color: #d7deea;
            display: block;
            position: absolute;
            margin-left: -95px;
            margin-top: 120px;
            transform: rotate(90deg);
          }

          &_icon{
            background-image: url(../images/seven-years-memory-cleaner.png);
          }
        }

        &__track-my-mac{

          &_icon{
            background-image: url(../images/seven-years-tmm.png);
          }

        }

        &__antivirus-scan{

          &_icon{
            background-image: url(../images/seven-years-scan.png);
          }
        }
      }

      .seven-years-expand-section-icon{
        width: 420px;
        display: inline-block;
        vertical-align: top;
      }
    }

    &_expander{
      width: 1000px;
      display: block;
      margin: 0 auto;
      height: 0;
      overflow: hidden;
      transition: .6s ease-out;

      .seven-years-expander-feature-block{
        display: block;
        margin: auto;
        width: 700px;
        padding: 0 0 50px 0;

        &__icon{
          width: 85px;
          height: 100px;
          display: inline-block;
          background-size: 95%;
          background-repeat: no-repeat;
          vertical-align: top;
        }

        &__text{
          display: inline-block;
          vertical-align: top;
          width: 550px;
          font-size: 18px;
          line-height: 25px;
          font-family: Roboto, sans-serif;
          margin: 10px 0 0 45px;

          &_feature-name{
            display: block;
            font-weight: 400;
          }

          &_feature-descr{
            display: block;
            font-weight: 200;
          }

        }

        .seven-years-expander-no-sleep-icon{
          background-image: url(../images/seven-years-expander-no-sleep.png);
        }
        .seven-years-expander-memory-keeper-icon{
          background-image: url(../images/seven-years-expander-memory-keeper.png);
        }
        .seven-years-expander-tmm-icon{
          background-image: url(../images/seven-years-expander-tmm.png);
        }
        .seven-years-expander-scan-icon{
          background-image: url(../images/seven-years-expander-scan.png);
        }
      }

      .seven-years-slider-button-left{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: #01a1ff;
        margin: 200px 0 0 0;
        display: inline-block;
        vertical-align: top;

        &:after{
          content: "";
          width: 5px;
          height: 5px;
          border-left: 2px solid #fff;
          border-bottom: 2px solid #fff;
          display: block;
          margin: 22px 0 0 22px;
          transform: rotate(45deg);
        }
      }

      .seven-years-slider{
        display: inline-block;
        vertical-align: top;
        width: 870px;
        height: 500px;
        margin: 0 10px;
        padding: 10px;
        box-sizing: border-box;
        background-image: linear-gradient(to bottom, #d7deea 0%, #d7deea 100%), linear-gradient(to bottom, #fff 0%, #fff 100%);
        background-clip: content-box, padding-box;
        border: 1px solid #f2f2f2;

        .js-seven-years-slide-pager-selected{
          background-color: #01a1ff;
        }

        &__slide-style{
          background-repeat: no-repeat;
          background-size: 100%;
          background-position-y: 36px;
          width: 820px;
          height: 500px;
        }

        &__slide-one{
          background-image: url(../images/seven-years-slide-first-version.png);
        }

        &__slide-two{
          background-image: url(../images/seven-years-slide-version-three.png);
        }

        &__slide-three{
          background-image: url(../images/seven-years-slide-version-four.png);
        }

        &__pager{
          display: inline-block;
          width: 250px;
          height: 1px;
          background-color: #e0e5ee;
          margin: 50px 0 0 20px;
        }
      }

      .seven-years-slider-button-right{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: #01a1ff;
        margin: 215px 0 0 0;
        display: inline-block;
        vertical-align: top;

        &:after{
          content: "";
          width: 5px;
          height: 5px;
          border-right: 2px solid #fff;
          border-top: 2px solid #fff;
          display: block;
          margin: 22px 0 0 22px;
          transform: rotate(45deg);
        }
      }
    }

    .activate-features-expander{
      height: 700px;
    }

    .js-seven-years-rotate-cross{
      transform: rotate(45deg);
      background-color: #636a7f;
      transition: .6s ease-out;
    }

    .js-seven-years-change-color-name{
      color: #636a7f;
      transition: .6s ease-out;
    }
  }

  &__sasha-grey{
    width: 100%;
    display: block;
    background: #01a1ff;

    &_wrapper{
      width: 1000px;
      display: block;
      margin: auto;
      padding: 100px 0 100px 0;

      .sasha-grey-section-number{
        width: 100px;
        display: inline-block;
        vertical-align: top;
        color: #d7deea;
        font-size: 35px;
        font-family: Roboto, sans-serif;
        font-weight: 200;
        margin: 7px 0 0 149px;
      }

      .sasha-grey-section-text{
        width: 550px;
        height: 160px;
        display: inline-block;
        vertical-align: top;
        color: #ffffff;
        font-size: 40px;
        font-family: Roboto, sans-serif;
        font-weight: 500;
        line-height: 50px;
      }

      .sasha-grey-section-image{
        background-size: 95%;
        background-repeat: no-repeat;
        vertical-align: top;
        background-image: url(../images/seven-years-tweet.png);
        display: block;
        width: 842px;
        height: 420px;
        background-position-x: 15px;
      }
    }
  }

  &__non-profit{
    width: 100%;
    display: block;
    background: #ffffff;
    background-image: url(../images/seven-years-charity-background.png);
    background-size: 170%;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;

    &_wrapper{
      width: 1000px;
      height: 500px;
      display: block;
      margin: auto;
      padding: 100px 0 100px 0;

      .non-profit-section-number{
        width: 60px;
        display: inline-block;
        vertical-align: bottom;
        color: #636A7D;
        font-size: 35px;
        font-family: Roboto, sans-serif;
        font-weight: 200;
        margin: 0 0 0 406px;
      }

      .non-profit-section-head{
        font-family: Roboto, sans-serif;
        font-weight: 200;
        color: #fff;
        font-size: 35px;
        display: inline-block;
        vertical-align: bottom;
      }

      .non-profit-section-text{
        font-family: Roboto, sans-serif;
        font-weight: 200;
        color: #ffffff;
        font-size: 15px;
        display: block;
        width: 400px;
        padding: 0 0 0 20px;
        border-left: 1px solid #d7deea;
        position: absolute;
        margin: 40px 0 0 475px;
      }
    }
  }

  &__gift-card{
    width: 100%;
    display: block;

    &_wrapper{
      width: 1000px;
      display: block;
      margin: auto;
      padding: 100px 0 100px 0;
      background-image: url(../images/seven-years-gift.png);
      background-size: 25%;
      background-repeat: no-repeat;
      background-position: 637px 178px;

      .seven-years-gift-card-section-number{
        width: 100px;
        display: inline-block;
        vertical-align: bottom;
        color: #d7deea;
        font-size: 50px;
        font-family: Roboto, sans-serif;
        font-weight: 200;
      }

      .seven-years-gift-card-section-header{
        font-family: Roboto, sans-serif;
        font-weight: 200;
        color: #636a7f;
        font-size: 50px;
      }

      .seven-years-gift-card-section-text{
        font-family: Roboto, sans-serif;
        font-weight: 200;
        color: #636a7f;
        font-size: 20px;
        margin: 100px 0 0 151px;
        display: block;
        width: 389px;
        padding: 0 0 0 20px;
        border-left: 1px solid #d7deea;
      }

      .seven-years-gift-card-options{
        width: 300px;
        height: 315px;
        border: 1px solid #F2F2E8;
        border-radius: 10px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        display: inline-block;
        vertical-align: top;
        margin: 100px 0 0 28px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-y: 0px;


        &__offer-box{
          margin: 0;

          &_two-years{
            background-image: url(../images/seven-years-card-two-years.png);
          }

          &_year{
            background-image: url(../images/seven-years-card-year.png);
          }

          &_month{
            background-image: url(../images/seven-years-card-month.png);
          }

          &_image{
            width: 300px;
            height: 220px;
            background-repeat: no-repeat;
            background-size: 100%;
            position: absolute;
            margin: -230px 0 0 0;
            transition: 0.1s;
            cursor: pointer;

            &:hover{
              width: 320px;
              margin: -230px 0 0 -11px;
              transition: 0.1s;
            }

          }

          &_text{
            font-family: Roboto, sans-serif;
            font-weight: 200;
            color: #636a7f;
            font-size: 17px;
            display: block;
            text-align: center;
            margin: 217px 0 0 0;
          }

          &_button{
            width: 250px;
            height: 35px;
            border: 0;
            border-radius: 5px;
            color: #fff;
            font-family: Roboto, sans-serif;
            font-size: 15px;
            margin: 10px 0 0 25px;
            background-color: #ff6a3e;
            outline: none;
            cursor: pointer;

            &:hover{
              opacity: .9;
            }
          }
        }
      }
    }
  }

  &__no-margin-bottom{
    margin-bottom: 0;
  }
}




// general styles
